/* css styles */
/* css styles */

@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Chivo');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono');

.navbar-brand{
  font-family: "Fira Mono";
}

.navbar a:hover{
  color: #ff6700;
}

.quarto-listing-category {
  font-family: "Fira Mono";
}

main a, main a strong {
  color: #3a51ba !important;   /* green color */
  font-weight: 700 !important;  /* bold */
  text-decoration: none !important; /* remove underline */
}

main a:hover, main a:focus, main a strong:hover, main a strong:focus {
  color: #3a51ba !important; /* slightly darker green on hover */
  text-decoration: none !important;
}